@font-face
    {
        font-family: "Forced-square";
        src: url("../police/FORCED SQUARE.ttf");
    }
html
    {
        display: flex;
        flex-direction: column;
        margin: 0;
        font-family: "Forced-square", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
body
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0;
    }
p
    {
        margin: 0;
        font-size: 30px;
    }
nav
    {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-evenly;
        align-items: center;
    }
/* Header */
header
    {
        display: flex;
        height: 10vh;
        background-image:radial-gradient(rgb(165, 164, 164), rgb(158, 147, 82));
        font-size: 30px;
        border-bottom: 2px double black;
    }
header nav a 
    {
        padding-left: 1vw;
        padding-right: 1vw;
        border-radius: 5px;
        border: 2px double rgba(0, 0, 0, 0);
    }
header nav a:hover
    {
        color: white;
        background-color: rgb(158, 147, 82);
        border-radius: 5px;
        border: 2px double black;
    }
nav a
    {
        text-decoration: none;
        color: black;
    }
/*  Main */
main
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
section     
    {
        background-color: rgb(165, 164, 164);
    }
main p  
    {
        padding-top: 3vh;
    }
/*  Partie 1 */
.IDE
    {
        text-align: center;
        padding-bottom: 5vh;
        background: linear-gradient(rgb(165, 164, 164), 60%, rgb(158, 147, 82));
    }
.IDE h1
    {
        font-size: 40px;
        margin-bottom: 3vh;
    }
hr
    {
        display: flex;
        align-self: center;
        width: 50vw;
    }
#image
    {
        display: flex;
        justify-content: center;
        background-image:linear-gradient( rgb(158, 147, 82), 40%,rgb(165, 164, 164));
    }
#imageide
    {
        display: flex;
        align-self: stretch;
        border-radius: 15px;
        width: 85vw;
    }
/*  Partie 2 */
#partie2
    {
        display: flex;
        flex-grow: 1;
        flex-basis: auto;
        justify-content: space-between;
        background: linear-gradient(rgb(158, 147, 82), 40%,rgb(165, 164, 164));
    }
#comparaison
    {
        display: flex;
        flex-direction: row;
        flex-basis: 80%;
        justify-content: space-evenly;
        text-align: center;
        background: linear-gradient(rgb(158, 147, 82), 40%,rgb(165, 164, 164));
    }
#comparaison section
    {
        display: flex;
        flex-direction: column;
        flex-basis: 25%;
        padding-right: 1.5vw;
        padding-left: 1.5vw;
        border: 1px solid black;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        box-shadow: 3px 3px 0px white;
        margin-bottom: 5vh;
        margin-top: 5vh;
    }
#comparaison h1
    {
        margin-top: 5vh;
        font-size: 35px;
        text-decoration: underline;
    }
aside
    {
        display: flex;
        flex-direction: column;
        flex-basis: 20%;
        justify-content: space-evenly;
        align-items: center;
    }
aside p
    {
        text-decoration: underline;
        color: white;
    }
aside a 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: black;
    }
aside a:hover
    {
        color: rgb(255, 255, 255);
    }
.logo
    {
        width: 50px;
    }
/* 
Footer */
footer
    {
        display: flex;
        height: 10vh;
        background-image:radial-gradient(rgb(165, 164, 164), rgb(158, 147, 82));
        font-size: 20px;
        border-top: 2px double black;
    }
footer a
    {
        display: flex;
        align-items: center;
        padding-left: 1vw;
        padding-right: 1vw;
        border-radius: 5px;
    }
footer a:hover
    {
        color: white;
        padding-left: 1vw;
        padding-right: 1vw;
        border-radius: 5px;
        background-color: rgb(9, 117, 9);
    }
#git
    {
        display: flex;
        align-items: center;
    }
footer a #logoblanc
    {
        display: none;
    }    
footer a:hover #logoblanc
    {
        display: block
    }
footer a:hover #logonoir
    {
        display: none;
    }
footer p
    {
        font-size: 15px;
    }