body
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: rgb(52, 50, 51);
        margin: 0;
    }
main
    {
        display: flex;
        flex-direction: column;
        color: rgb(239, 234, 225) ;
        margin-left: 2vw;
        margin-right: 2vw;
    }
nav
    {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-evenly;
        align-items: center;
    }
nav a  
    {
        text-decoration: none;
    }
p   
    { 
        margin:0;
        font-size: 15px;
    }
hr  
    {
        width: 60%;

    }
/* Header */
header
    {
        display: flex;
        height: 10vh;
        background-color: #66595c;
        font-size: 30px;
    }
header nav a 
    {
        color: white;
        border: 2px double rgba(0, 0, 0, 0);
        border-radius: 15px;
        padding-left: 1vw;
        padding-right: 1vw;
    }
header nav a:hover
    {
        color: rgb(0, 0, 0);
        border: 2px double rgb(0, 0, 0);
        border-radius: 15px;
        background-color: rgb(239, 234, 225);
    }
#logoheaderatom
    {
        background-color: white;
        height: 5vh;
        padding-left: 1vw;
        padding-right: 1vw;
        border-radius: 10px;
    }
/* Main */
#presentation
    {
        display: flex;
        flex-direction: column;
    }
#titre
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
#titre h1
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 45px;
    }
#titre h2
    {
        font-size: 25px;
        font-weight: bold;
    }
#logoatom
    {
        width: 8vw;
    }
#atom
    {
        display: flex;
        flex-direction: column;
    }
#image
    {
        display: flex;
        justify-content: center;
        margin-bottom: 10vh;
        margin-top: 10vh;
    }
#impecran
    {
        height: 60vh;
        width: 50vw;
        filter: sepia(0.7);
        -webkit-transform: scale(0.9);
	    transform: scale(0.9);
	    -webkit-transition: .3s ease-in-out;
	    transition: .3s ease-in-out;
    }
#impecran:hover
    {
        transition: 2s;
        filter: none;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
#description
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10vh;
    }
#description h1
    {
        margin-top: 8vh;
        font-size: 35px;
    }
#description p  
    {
        margin-top: 1vh;
        margin-bottom: 1vh;
        font-size: 20px;
    }
#description hr
    {
        margin-top: 10vh;
    }
#fonctionalites
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
#fonctionalites h1
    {
        font-size: 35px;
    }
#fonction
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin-top: 2vh;
        margin-bottom: 10vh;
    }
#fonction h1
    {
        margin:0;
    }
#fonction h2
    {
        font-size: 30px;
    }
#fonction p
    {
        margin-top: 1vh;
        margin-bottom: 1vh;
        font-size: 20px;
    }
#fonction section
    {
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        flex-grow: 0.2;
        justify-content: space-evenly;
        border: 1px solid white;
        border-radius: 15px;
        padding-bottom: 2vh;
        background-color: #66595c;
    }
#last
    {
        margin-top: 3vh;
    }
#autre
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 10vh;
    }
#avantage
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 10vw;
        border-right: 1px solid white;
        margin-bottom: 10vh;
    }
#avantage h1
    {
        font-size: 30px;
    }
#avantage li
    {
        font-size: 25px;
    }
#telechargement
    {
        margin-right: 5vw;
        padding: 1vh;
        border: 1px solid white;
        border-radius: 15px;
        background-color: blue;
    }
#telechargement a
    {
        text-decoration: none;
        font-size: 20px;
        color: rgb(239, 234, 225);
    }
#telechargement:hover
    {
        background-color: black;
    }
/*  Footer */
footer
    {
        display: flex;
        height: 10vh;
        justify-content: space-between;
        background-color: rgb(239, 234, 225);
        font-size: 25px;
    }
footer nav a
    {
        color: rgb(52, 50, 51);
        padding-left: 1vw;
        padding-right: 1vw;
        border-radius: 10px;
    }
footer nav a:hover
    {
        color: white;
        padding-left: 1vw;
        padding-right: 1vw;
        border-radius: 10px;
        background-color: #66595c;
    }
#twitter
    {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
#logotwitter 
    {
        width: 30px;
    }