@font-face
    {
        font-family: "Sublime";
        src: url("../police/Sublime.ttf");
    }
body
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        font-family: "Sublime", Impact,'Arial Narrow Bold', sans-serif;
        margin: 0;
    }
nav
    {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-evenly;
        align-items: center;
    }
nav a  
    {
        text-decoration: none;
    }
h1
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
p   
    { 
        margin:0;
        font-size: 15px;
    }
hr
    {
        width: 50%;
        border: 1px solid black;
    }
/* Header */
header
    {
        height: 10vh;
        background-color: rgb(75, 75, 75);
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
header nav a 
    {
        color: white;
        border: 2px double rgba(0, 0, 0, 0);
        border-radius: 40px;
        padding-left: 1vw;
        padding-right: 1vw;
    }
header nav a:hover
    {
        color: rgb(0, 0, 0);
        border: 2px double rgb(0, 0, 0);
        border-radius: 40px;
        background-color: #A9C8C8;
    }
#logoheadersublime
    {
        height: 7vh;
        border-radius: 40px;
    }
/* Main */
main
    {
        display: flex;
        flex-direction: column;
    }
#sublime
    {
        display: flex;
        flex-direction: column;
        background: linear-gradient(white,90%,#A9C8C8);
    }
#titre
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
#logosublime
    {
        width: 8vw;
    }
#titre h1
    {
        font-size: 45px;
    }
#presentation
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 10vh;
    }
#image
    {
        display: flex;
        justify-content: center;
        flex-basis: 40%;
    }
#impsublime
    {
        width: 30vw;
        height: 60vh;
        border-radius: 50%;
    }
#impsublime:hover
    {
        width: 39vw; 
        height: auto;
        border-radius: 0%;
        -webkit-transition: .3s ease-in-out ; 
        transition: .3s ease-in-out ;
    }
#description
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-basis: 40%;
    }
#description h1
    {
        color: rgb(75, 75, 75);
    }
#autre
    {
        display: flex;
        flex-direction: column;
        background-color: #A9C8C8 ;
    }
#slogan
    {
        text-align: center;
        font-size: 35px;
        text-decoration: underline;
        margin-bottom: 5vh;
        color: rgb(75, 75, 75);
    }
#fonction
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 10vh;
        margin-top: 5vh;
    }
#fonction h1
    {
        color: rgb(75, 75, 75);
    }
#fonctionnalites
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        margin-bottom: 10vh;
    }
#fonctionnalites section
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-basis: 35%;
        flex-grow: 0.5;
    }
#fonctionnalites section section
    {
        display: flex;
        justify-content: space-evenly;
    }
.top
    {
        margin-bottom: 5vh;
    }
.colonne
    {
        margin-left: 5vh;
        margin-right: 5vh;
    }
span
    {
        padding: 0.5vh;
        border: 0.5px solid black;
        border-radius: 5px;
        background-color: rgb(172, 167, 167);
    }
.pspan
    {
        margin: 1.5vh;
    }
#avantage
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
ul
    {
        margin:0;
    }
li
    {
        font-size: 20px;
        margin: 2vh;
    }
#telechargement
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
    }
#button
    {
        width: 15vw;
        padding: 1vh;
        border-radius: 15px;
        background-color: rgb(75, 75, 75);
    }
#button a
    {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        text-decoration: none;
        font-size: 20px;
        color: rgb(238, 238, 238);
    }
#button:hover
    {
        background-color: rgb(238, 238, 238);
        border-radius: 15px;
        color: rgb(75, 75, 75) ;
    }
#button a:hover
    {
        color: rgb(75, 75, 75);
    }
/* Footer */
footer
    { 
        display: flex;
        height: 10vh;
        justify-content: space-between;
        background-color: rgb(238, 238, 238);
        font-size: 25px;
    }
footer nav a
    {
        color: black;
        padding-left: 1vw;
        padding-right: 1vw;
        border-radius: 40px;
    }
footer nav a:hover  
    {
        color: #A9C8C8;
        padding-left: 1vw;
        padding-right: 1vw;
        border-radius: 40px;
        background-color: rgb(75, 75, 75);
    }
#twitter
    {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
#logotwitter 
    {
        width: 30px;
    }