body
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
        margin: 0;
    }
nav
    {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-evenly;
        align-items: center;
    }
nav a  
    {
        text-decoration: none;
    }
/* Header */
header
    {
        height: 10vh;
        background-color: #2C2C32;
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
header nav a 
    {
        color: white;
        border: 2px double rgba(0, 0, 0, 0);
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-left: 1vw;
        padding-right: 1vw;
    }
header nav a:hover
    {
        color: rgb(0, 0, 0);
        border: 2px double rgb(0, 0, 0);
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: #f5f5f5;
    }
#logovs
    {
        height: 8vh;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
/* Main */

/* Footer */
footer
    { 
        display: flex;
        flex-grow: 0.2;
        justify-content: space-between;
        background-color: rgb(238, 238, 238);
        font-size: 25px;
    }
footer nav a
    {
        color: black;
    } 
footer nav a:hover  
    {
        color: #A9C8C8;
    }
#twitter
    {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
#logotwitter 
    {
        width: 30px;
    }