@font-face
    {
        font-family: "timeless";
        src: url("../police/Timeless.ttf");
    }
@keyframes slide
    {
        0%, 25%, 100%
            {
                transform: translateX(0);
            }
        50%, 75%
            {
                transform: translateX(-50vw);
            }
    }
body
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        font-family: "timeless" ,Impact, 'Arial Narrow Bold', sans-serif;
        margin: 0;
    }
main
    {
        display: flex;
        flex-direction: column;
    }
nav
    {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-evenly;
        align-items: center;
    }
nav a  
    {
        text-decoration: none;
    }
p   
    { 
        margin:0;
        font-size: 20px;
        text-align: justify;
        color: #2C2C32;
    }
h2  
    {
        font-size: 30px;
        color:#2C2C32;
    }
li
    {
        font-size: 20px;
        margin: 2vh;
        list-style-type: none;
    }
ul
    {
        width: 100%;
    }
hr  
    {
        width: 70%;
        border: 1px solid black;
    }
/* Header */
header
    {
        height: 10vh;
        background-color: #2C2C32;
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
header nav a 
    {
        color: rgb(238, 238, 238);
        border: 2px double rgba(0, 0, 0, 0);
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-left: 1vw;
        padding-right: 1vw;
    }
header nav a:hover
    {
        color: rgb(0, 0, 0);
        border: 2px double rgb(0, 0, 0);
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: rgb(207, 207, 207);
    }
#logovs
    {
        height: 8vh;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
/* Main */
#titre
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(white,20%,rgb(238, 238, 238));
    }
#titre h1
    {
        display: flex;
        align-items: center;
        font-size: 50px;
    }
#logovscode
    {
        width: 10vw;
    }
#contenu
    {
        display: flex;
        flex-direction: row;
        background:linear-gradient(rgb(238, 238, 238), 80%, white );
    }
#VSCODE
    {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-left: 5vw;
        margin-right: 5vw;
    }
#description
    {
        display: flex;
        flex-direction: column;
        flex-grow: 4;
        align-items: center;
        justify-content: space-evenly;
        padding: 2vw;
        border: 1px solid #2C2C32;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background:linear-gradient(white, 40%, rgb(238, 238, 238));
        box-shadow: 3px 3px 0px #2C2C32;
    }
#description h1
    {
        font-size: 40px;
        color: #0071BC ;
    }
#telechargement
    {
        display: flex;
        flex-direction: column-reverse;
        flex-grow: 3;
        justify-content: center;
        align-items: center;
    }
#button
    {
        width: 20vw;
        padding: 1vh;
        border-radius: 35px;
        background-color: #0071BC;
    }
#button a
    {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        text-decoration: none;
        font-size: 20px;
        color: rgb(238, 238, 238);
    }
#button:hover
    {
        background-color: #2C2C32;
        border-radius: 35px;
    }
#autre
    {
        display: flex;
        flex-direction: column;
        flex-grow: 8;
    }
#autre h1
    {
        display: flex;
        justify-content: center;
        font-size: 40px;
        color: #0071BC;
    }
#slogan
    {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 25px;
        color: #2C2C32;
    }
#slider
    {
        width: 50vw;
        overflow:hidden;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        box-shadow: 6px 6px 0px #0071BC;
    }
#image
    {
        display: flex;
        flex-grow: 5;
        flex-direction: row;
        animation:slide 10s  infinite;
    }
.impecran
    {
        width: 50vw;
        height: 70vh;
        filter: brightness(60%);
    }
.impecran:hover
    {
        filter: none;
    }
#image:hover
    {
        animation-play-state: paused;
    }
#fonction
    {
        display: flex;
        flex-direction: column;
        margin-right: 5vw;
        margin-bottom: 10vh;
    }
#fonctionnalite
    {
        display: flex;
        flex-direction: column;
    }
.fctdroite
    {
        display: flex;
        flex-direction: row-reverse;
    }
#avantage
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-bottom: 10vh;
    }
.lidroite
    {
        display: flex;
        justify-content: flex-end;
    }
/* Footer */
footer
    { 
        display: flex;
        height: 10vh;
        justify-content: space-between;
        background-color: rgb(238, 238, 238);
        font-size: 25px;
    }
footer nav a
    {
        color: black;
        padding-left: 1vw;
        padding-right: 1vw;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
    } 
footer nav a:hover  
    {
        color: white;
        padding-left: 1vw;
        padding-right: 1vw;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: #2C2C32;
    }
#logovsfooter
    {
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 1vh;
        height: 5vh;
    }
#twitter
    {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
#logotwitter 
    {
        width: 30px;
    }